# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
%matplotlib inline
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Analysis of Variance

In this part of the lesson, we will perform an analysis of variance to determine whether the factors in our model create a significant difference in the group means. We will be examining a dataset of FIFA players. We'll start by loading the data using the code in the cell below.

In [2]:
# Run this code:

fifa = pd.read_csv('fifa.csv')

Let's examine the dataset by looking at the `head`.

In [3]:
# Your code here:

fifa.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,Position,Weak Foot,Acceleration,SprintSpeed,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,RF,4.0,91.0,86.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,ST,4.0,89.0,91.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,Right,LW,5.0,94.0,90.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,Right,GK,3.0,57.0,58.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,Right,RCM,5.0,78.0,76.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0

Player's values are expressed in millions of euros. We would like this column to be numeric. Therefore, let's create a numeric value column. Do this by stripping all non-numeric characters from each cell. Assign this new data to `ValueNumeric`. There is no need to multiply the value to be expressed in millions.

In [30]:
# Your code here:


s = pd.Series(fifa['Value'])
s.str.extract(r'((\d+\.\d?)|(\d+))')
# pd.merge(a[0],a[1])

           0      1    2
0      110.5  110.5  NaN
1         77    NaN   77
2      118.5  118.5  NaN
3         72    NaN   72
4        102    NaN  102
5         93    NaN   93
6         67    NaN   67
7         80    NaN   80
8         51    NaN   51
9         68    NaN   68
10        77    NaN   77
11      76.5   76.5  NaN
12        44    NaN   44
13        60    NaN   60
14        63    NaN   63
15        89    NaN   89
16      83.5   83.5  NaN
17        78    NaN   78
18        58    NaN   58
19      53.5   53.5  NaN
20      51.5   51.5  NaN
21        60    NaN   60
22        38    NaN   38
23      64.5   64.5  NaN
24        27    NaN   27
25        81    NaN   81
26      69.5   69.5  NaN
27      59.5   59.5  NaN
28      69.5   69.5  NaN
29        62    NaN   62
...      ...    ...  ...
18177     70    NaN   70
18178     50    NaN   50
18179     50    NaN   50
18180     40    NaN   40
18181     50    NaN   50
18182     50    NaN   50
18183      0    NaN    0
18184     40    NaN   40
18185     50    NaN   50
18186     60    NaN   60
18187     40    NaN   40
18188     60    NaN   60
18189     60    NaN   60
18190     60    NaN   60
18191     50    NaN   50
18192     50    NaN   50
18193     50    NaN   50
18194     50    NaN   50
18195     60    NaN   60
18196     60    NaN   60
18197     60    NaN   60
18198     60    NaN   60
18199     70    NaN   70
18200     60    NaN   60
18201     60    NaN   60
18202     60    NaN   60
18203     60    NaN   60
18204     60    NaN   60
18205     60    NaN   60
18206     60    NaN   60

[18207 rows x 3 columns]

#### We'd like to determine whether a player's preffered foot and position have an impact on their value. 

Using the `statsmodels` library, we are able to produce an ANOVA table without munging our data. Create an ANOVA table with value as a function of position and preferred foot. Recall that pivoting is performed by the `C` function.

Hint: For columns that have a space in their name, it is best to refer to the column using the dataframe (For example: for column `A`, we will use `df['A']`).

In [5]:
# Your code here:

What is your conclusion from this ANOVA?

In [6]:
# Your conclusions here:

After looking at a model of both preffered foot and position, we decide to create an ANOVA table for nationality. Create an ANOVA table for numeric value as a function of nationality.

In [8]:
# Your code here:

What is your conclusion from this ANOVA?

# Challenge 2 - Linear Regression

Our goal with using linear regression is to create a mathematical model that will enable us to predict the outcome of one variable using one or more additional independent variables.

We'll start by ensuring there are no missing values. Examine all variables for all missing values. If there are missing values in a row, remove the entire row.

In [9]:
# Your code here:

Using the FIFA dataset, in the cell below, create a linear model predicting value using stamina and sprint speed. create the model using `statsmodels`. Print the model summary.

Hint: remember to add an intercept to the model using the `add_constant` function.

In [10]:
# Your code here:

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [11]:
# Your conclusions here:

Next, create a second regression model predicting value using potential. Create the model using `statsmodels` and print the model summary. Remember to add a constant term.

In [12]:
# Your code here:

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [13]:
# Your conclusions here:

Plot a scatter plot of value vs. potential. Do you see a linear relationship?

In [14]:
# Your code here: