# PIPELINESPROJECT

## IMPORTS

In [27]:
import numpy as np
import pandas as pd
import re

In [81]:
data = pd.read_csv('uio_clean.csv')
# data.pickup_datetime.value_counts()

# CLEAN

In [82]:
data=data.drop("store_and_fwd_flag",axis=1)
# data['pickup_datetime']=data.pickup_datetime.str.replace(' .*$', '')
# data['dropoff_datetime']=data.pickup_datetime.str.replace(' .*$', '')
data['pickup_datetime'] = pd.to_datetime(data['pickup_datetime'])
data['dropoff_datetime'] = pd.to_datetime(data['dropoff_datetime'])

In [75]:
#Obtain de principal vendor
vendors=sorted(data.vendor_id.unique())
data=data.drop(data.index[data['vendor_id']!='Quito'])

In [89]:
#Obtain de day of the week
data['day_of_week'] = data['pickup_datetime'].dt.day_name()
data.day_of_week.value_counts()

Friday       5581
Thursday     5308
Monday       5113
Wednesday    5089
Tuesday      4828
Saturday     3948
Sunday       2499
Name: day_of_week, dtype: int64

In [121]:
#Group by day of week
data.groupby(['day_of_week','pickup_datetime']).count()

                                 id  vendor_id  dropoff_datetime  \
day_of_week pickup_datetime
Friday      2016-05-13 08:50:34   1          1                 1
            2016-05-27 06:14:14   1          1                 1
            2016-06-03 09:07:42   1          1                 1
            2016-06-17 08:05:30   1          1                 1
            2016-06-24 01:01:22   2          2                 2
            2016-06-24 01:39:17   1          1                 1
            2016-06-24 01:42:38   1          1                 1
            2016-06-24 02:03:03   1          1                 1
            2016-06-24 02:19:52   1          1                 1
            2016-06-24 02:28:57   1          1                 1
            2016-06-24 03:09:40   1          1                 1
            2016-06-24 04:18:20   1          1                 1
            2016-06-24 04:20:14   1          1                 1
            2016-06-24 04:29:36   1          1                 1
            2016-06-24 05:15:39   1          1                 1
            2016-06-24 05:17:30   1          1                 1
            2016-06-24 05:40:18   1          1                 1
            2016-06-24 05:45:59   1          1                 1
            2016-06-24 05:47:28   1          1                 1
            2016-06-24 05:56:42   1          1                 1
            2016-06-24 06:21:47   1          1                 1
            2016-06-24 06:37:32   1          1                 1
            2016-06-24 06:41:07   1          1                 1
            2016-06-24 06:42:17   1          1                 1
            2016-06-24 06:46:00   1          1                 1
            2016-06-24 06:48:24   1          1                 1
            2016-06-24 06:54:33   1          1                 1
            2016-06-24 06:55:05   1          1                 1
            2016-06-24 07:01:29   1          1                 1
            2016-06-24 07:05:42   1          1                 1
...                              ..        ...               ...
Wednesday   2017-07-26 09:19:43   1          1                 1
            2017-07-26 09:20:59   1          1                 1
            2017-07-26 09:26:06   1          1                 1
            2017-07-26 09:36:33   1          1                 1
            2017-07-26 09:42:46   1          1                 1
            2017-07-26 09:45:29   1          1                 1
            2017-07-26 09:45:35   1          1                 1
            2017-07-26 10:13:06   1          1                 1
            2017-07-26 10:27:03   1          1                 1
            2017-07-26 10:28:36   1          1                 1
            2017-07-26 10:40:38   1          1                 1
            2017-07-26 10:45:15   1          1                 1
            2017-07-26 10:54:33   1          1                 1
            2017-07-26 11:10:06   1          1                 1
            2017-07-26 11:13:48   1          1                 1
            2017-07-26 11:35:44   1          1                 1
            2017-07-26 11:55:36   1          1                 1
            2017-07-26 11:55:56   1          1                 1
            2017-07-26 12:00:18   1          1                 1
            2017-07-26 12:13:05   1          1                 1
            2017-07-26 12:15:29   1          1                 1
            2017-07-26 12:20:17   1          1                 1
            2017-07-26 12:23:20   1          1                 1
            2017-07-26 12:24:52   1          1                 1
            2017-07-26 12:32:13   1          1                 1
            2017-07-26 12:33:04   1          1                 1
            2017-07-26 12:37:49   1          1                 1
            2017-07-26 12:39:09   1          1                 1
            2017-07-26 12:47:43   1          1                 1
            2017-07-26 12:53:27   1          1                 1

                                 pickup_longitude  pickup_latitude  \
day_of_week pickup_datetime
Friday      2016-05-13 08:50:34                 1                1
            2016-05-27 06:14:14                 1                1
            2016-06-03 09:07:42                 1                1
            2016-06-17 08:05:30                 1                1
            2016-06-24 01:01:22                 2                2
            2016-06-24 01:39:17                 1                1
            2016-06-24 01:42:38                 1                1
            2016-06-24 02:03:03                 1                1
            2016-06-24 02:19:52                 1                1
            2016-06-24 02:28:57                 1                1
            2016-06-24 03:09:40                 1                1
            2016-06-24 04:18:20                 1                1
            2016-06-24 04:20:14                 1                1
            2016-06-24 04:29:36                 1                1
            2016-06-24 05:15:39                 1                1
            2016-06-24 05:17:30                 1                1
            2016-06-24 05:40:18                 1                1
            2016-06-24 05:45:59                 1                1
            2016-06-24 05:47:28                 1                1
            2016-06-24 05:56:42                 1                1
            2016-06-24 06:21:47                 1                1
            2016-06-24 06:37:32                 1                1
            2016-06-24 06:41:07                 1                1
            2016-06-24 06:42:17                 1                1
            2016-06-24 06:46:00                 1                1
            2016-06-24 06:48:24                 1                1
            2016-06-24 06:54:33                 1                1
            2016-06-24 06:55:05                 1                1
            2016-06-24 07:01:29                 1                1
            2016-06-24 07:05:42                 1                1
...                                           ...              ...
Wednesday   2017-07-26 09:19:43                 1                1
            2017-07-26 09:20:59                 1                1
            2017-07-26 09:26:06                 1                1
            2017-07-26 09:36:33                 1                1
            2017-07-26 09:42:46                 1                1
            2017-07-26 09:45:29                 1                1
            2017-07-26 09:45:35                 1                1
            2017-07-26 10:13:06                 1                1
            2017-07-26 10:27:03                 1                1
            2017-07-26 10:28:36                 1                1
            2017-07-26 10:40:38                 1                1
            2017-07-26 10:45:15                 1                1
            2017-07-26 10:54:33                 1                1
            2017-07-26 11:10:06                 1                1
            2017-07-26 11:13:48                 1                1
            2017-07-26 11:35:44                 1                1
            2017-07-26 11:55:36                 1                1
            2017-07-26 11:55:56                 1                1
            2017-07-26 12:00:18                 1                1
            2017-07-26 12:13:05                 1                1
            2017-07-26 12:15:29                 1                1
            2017-07-26 12:20:17                 1                1
            2017-07-26 12:23:20                 1                1
            2017-07-26 12:24:52                 1                1
            2017-07-26 12:32:13                 1                1
            2017-07-26 12:33:04                 1                1
            2017-07-26 12:37:49                 1                1
            2017-07-26 12:39:09                 1                1
            2017-07-26 12:47:43                 1                1
            2017-07-26 12:53:27                 1                1

                                 dropoff_longitude  dropoff_latitude  \
day_of_week pickup_datetime
Friday      2016-05-13 08:50:34                  1                 1
            2016-05-27 06:14:14                  1                 1
            2016-06-03 09:07:42                  1                 1
            2016-06-17 08:05:30                  1                 1
            2016-06-24 01:01:22                  2                 2
            2016-06-24 01:39:17                  1                 1
            2016-06-24 01:42:38                  1                 1
            2016-06-24 02:03:03                  1                 1
            2016-06-24 02:19:52                  1                 1
            2016-06-24 02:28:57                  1                 1
            2016-06-24 03:09:40                  1                 1
            2016-06-24 04:18:20                  1                 1
            2016-06-24 04:20:14                  1                 1
            2016-06-24 04:29:36                  1                 1
            2016-06-24 05:15:39                  1                 1
            2016-06-24 05:17:30                  1                 1
            2016-06-24 05:40:18                  1                 1
            2016-06-24 05:45:59                  1                 1
            2016-06-24 05:47:28                  1                 1
            2016-06-24 05:56:42                  1                 1
            2016-06-24 06:21:47                  1                 1
            2016-06-24 06:37:32                  1                 1
            2016-06-24 06:41:07                  1                 1
            2016-06-24 06:42:17                  1                 1
            2016-06-24 06:46:00                  1                 1
            2016-06-24 06:48:24                  1                 1
            2016-06-24 06:54:33                  1                 1
            2016-06-24 06:55:05                  1                 1
            2016-06-24 07:01:29                  1                 1
            2016-06-24 07:05:42                  1                 1
...                                            ...               ...
Wednesday   2017-07-26 09:19:43                  1                 1
            2017-07-26 09:20:59                  1                 1
            2017-07-26 09:26:06                  1                 1
            2017-07-26 09:36:33                  1                 1
            2017-07-26 09:42:46                  1                 1
            2017-07-26 09:45:29                  1                 1
            2017-07-26 09:45:35                  1                 1
            2017-07-26 10:13:06                  1                 1
            2017-07-26 10:27:03                  1                 1
            2017-07-26 10:28:36                  1                 1
            2017-07-26 10:40:38                  1                 1
            2017-07-26 10:45:15                  1                 1
            2017-07-26 10:54:33                  1                 1
            2017-07-26 11:10:06                  1                 1
            2017-07-26 11:13:48                  1                 1
            2017-07-26 11:35:44                  1                 1
            2017-07-26 11:55:36                  1                 1
            2017-07-26 11:55:56                  1                 1
            2017-07-26 12:00:18                  1                 1
            2017-07-26 12:13:05                  1                 1
            2017-07-26 12:15:29                  1                 1
            2017-07-26 12:20:17                  1                 1
            2017-07-26 12:23:20                  1                 1
            2017-07-26 12:24:52                  1                 1
            2017-07-26 12:32:13                  1                 1
            2017-07-26 12:33:04                  1                 1
            2017-07-26 12:37:49                  1                 1
            2017-07-26 12:39:09                  1                 1
            2017-07-26 12:47:43                  1                 1
            2017-07-26 12:53:27                  1                 1

                                 trip_duration  dist_meters  wait_sec
day_of_week pickup_datetime
Friday      2016-05-13 08:50:34              1            1         1
            2016-05-27 06:14:14              1            1         1
            2016-06-03 09:07:42              1            1         1
            2016-06-17 08:05:30              1            1         1
            2016-06-24 01:01:22              2            2         2
            2016-06-24 01:39:17              1            1         1
            2016-06-24 01:42:38              1            1         1
            2016-06-24 02:03:03              1            1         1
            2016-06-24 02:19:52              1            1         1
            2016-06-24 02:28:57              1            1         1
            2016-06-24 03:09:40              1            1         1
            2016-06-24 04:18:20              1            1         1
            2016-06-24 04:20:14              1            1         1
            2016-06-24 04:29:36              1            1         1
            2016-06-24 05:15:39              1            1         1
            2016-06-24 05:17:30              1            1         1
            2016-06-24 05:40:18              1            1         1
            2016-06-24 05:45:59              1            1         1
            2016-06-24 05:47:28              1            1         1
            2016-06-24 05:56:42              1            1         1
            2016-06-24 06:21:47              1            1         1
            2016-06-24 06:37:32              1            1         1
            2016-06-24 06:41:07              1            1         1
            2016-06-24 06:42:17              1            1         1
            2016-06-24 06:46:00              1            1         1
            2016-06-24 06:48:24              1            1         1
            2016-06-24 06:54:33              1            1         1
            2016-06-24 06:55:05              1            1         1
            2016-06-24 07:01:29              1            1         1
            2016-06-24 07:05:42              1            1         1
...                                        ...          ...       ...
Wednesday   2017-07-26 09:19:43              1            1         1
            2017-07-26 09:20:59              1            1         1
            2017-07-26 09:26:06              1            1         1
            2017-07-26 09:36:33              1            1         1
            2017-07-26 09:42:46              1            1         1
            2017-07-26 09:45:29              1            1         1
            2017-07-26 09:45:35              1            1         1
            2017-07-26 10:13:06              1            1         1
            2017-07-26 10:27:03              1            1         1
            2017-07-26 10:28:36              1            1         1
            2017-07-26 10:40:38              1            1         1
            2017-07-26 10:45:15              1            1         1
            2017-07-26 10:54:33              1            1         1
            2017-07-26 11:10:06              1            1         1
            2017-07-26 11:13:48              1            1         1
            2017-07-26 11:35:44              1            1         1
            2017-07-26 11:55:36              1            1         1
            2017-07-26 11:55:56              1            1         1
            2017-07-26 12:00:18              1            1         1
            2017-07-26 12:13:05              1            1         1
            2017-07-26 12:15:29              1            1         1
            2017-07-26 12:20:17              1            1         1
            2017-07-26 12:23:20              1            1         1
            2017-07-26 12:24:52              1            1         1
            2017-07-26 12:32:13              1            1         1
            2017-07-26 12:33:04              1            1         1
            2017-07-26 12:37:49              1            1         1
            2017-07-26 12:39:09              1            1         1
            2017-07-26 12:47:43              1            1         1
            2017-07-26 12:53:27              1            1         1

[31756 rows x 10 columns]